<html>
<head>
</head>
<link rel="stylesheet" href="/style.css">

<body>
  <div class="wrapper">
    <div class="links">
      <h1>Links</h1>
      <a href="/">/</a>
      <a href="/about">/about</a>
      <a href="/contact">/contact</a>
      <a href="/another">/another</a>
      <a href="/post/10">/post/10</a>
      <a href="/post/10/comment/20">/post/10/comment/20</a>
      <a href="/post/10/comment/20?get-param=value">/post/10/comment/20?get-param=value</a>
      <a href="/not-found-path">Not found path</a>
    </div>

    <div class="content">
      <h1>Content</h1>
      <pre id="json"></pre>
    </div>
  </div>

  <script src="/bundle.js"></script>
</body>

</html>